.btn-success.btn-fill {
    color: #F7F7F7;
    background-color: #7AE8D5;
    border-color: #7AE8D5;
    opacity: 1;
}

.teal-text {
  color: #7AE8D5;
}

.navbar-relative {
  position: relative;
  z-index: 1; }

#register-navbar a {
  color: #F7F7F7; }

#register-navbar a:hover {
    color: #7AE8D5;
  }

.body {
    background-color: #FFFFFF;
}

.profile-background {
  background-image: url('../imgs/beach1.jpg');
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px;
}

.springr-background {
  background-image:url('../imgs/halfdome.jpg');
  background-position: center center;
  background-size: cover;
  height: 50em;
  position: relative;
  margin-top: -110px;
}

.fill-bg {
  background-color: #A49E93;
  color: white;
}



.bg-con2 {
  padding-bottom: 2em;
}

  .owner .avatar {
    margin-top: -100px;
    position: relative;
    z-index: 3;}

  .owner .name h4 {
    margin-top: 10px; }


.nav-tabs {
  border-bottom: 0 none;
  font-size: 16px;
  font-weight: 600;}
  .nav-tabs > li > a {
    border: 0 none;
    color: #A49E93; }  /* innactive li */
  .nav-tabs > li > a:hover {
    color: #BA91B9; }
  .nav-tabs > li.active {
    color: #CF84DE;    /*active */
    position: relative; }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      background-color: transparent;
      color: #CF84DE;
      border: 0 none; }
    .nav-tabs > li.active :after {
      border-bottom: 11px solid #FFFCF5;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 40%;
      bottom: -1px; }

.nav-tabs > li.active :before {
  border-bottom: 11px solid #CF84DE;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 40%;
  bottom: 1px; }
.nav-tabs-navigation {
  text-align: center;
  border-bottom: 1px solid #CF84DE;
  margin-bottom: 30px; }
  .nav-tabs-navigation .nav > li > a {
    padding-bottom: 20px; }
.tab-content {
  min-height: 30rem;
}

.btn-row {
  margin-top: 5px;
  color: #A49E93;
  border-color: #A49E93; }
.btn-row:hover {
  border-color: transparent;
  background-color: #CF84DE; }



.footer {
  height: 2em;
}

.h1, h1 {
  color: white;
  font-size: 5em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
}

.title {
  margin-bottom: 16em;
  color: white;
}



p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Merriweather', serif;  font-weight: 400;

}

.bumpdown {
  margin-top: 5em;
}
.bumpdown2 {
  margin-top: 8em;
}
.overlayed {
  margin-top: -5em;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
