.btn-success.btn-fill {
    color: #F7F7F7;
    background-color: #7AE8D5;
    border-color: #7AE8D5;
    opacity: 1;
}

.teal-text {
  color: #7AE8D5;
}

.navbar-relative {
  position: relative;
  z-index: 2; }

#register-navbar a {
  color: #F7F7F7; }

#register-navbar a:hover {
    color: #7AE8D5;
  }

.body {
    background-color: #FFFFFF;
}

.profile-background {
  background-image: url('../imgs/beach1.jpg');
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px;
}

.springr-background {
  background-image:url('../imgs/halfdome.jpg');
  background-position: center center;
  background-size: cover;
  height: 50em;
  position: relative;
  margin-top: -110px;
}

.fill-bg {
  background-image:url('../imgs/arctic.jpg');
  background-position: center center;
  background-size: cover;
  height: 30em;
  color: white;
}

.bg-con1 {
  background-size: cover;
  padding-bottom: 2em;
  
  /* fallback */
  background-color: ghostwhite;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(ghostwhite), to(white));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, white, ghostwhite);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, white, ghostwhite);

  /* IE 10 */
  background: -ms-linear-gradient(top, white, ghostwhite);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, white, ghostwhite);
}

.bg-con2 {
  padding-bottom: 2em;
}

  .owner .avatar {
    margin-top: -100px;
    position: relative;
    z-index: 3;}

  .owner .name h4 {
    margin-top: 10px; }


.nav-tabs {
  border-bottom: 0 none;
  font-size: 16px;
  font-weight: 600;}
  .nav-tabs > li > a {
    border: 0 none;
    color: #A49E93; }  /* innactive li */
  .nav-tabs > li > a:hover {
    color: #BA91B9; }
  .nav-tabs > li.active {
    color: #CF84DE;    /*active */
    position: relative; }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      background-color: transparent;
      color: #CF84DE;
      border: 0 none; }
    .nav-tabs > li.active :after {
      border-bottom: 11px solid #FFFCF5;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 40%;
      bottom: -1px; }

.nav-tabs > li.active :before {
  border-bottom: 11px solid #CF84DE;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 40%;
  bottom: 1px; }
.nav-tabs-navigation {
  text-align: center;
  border-bottom: 1px solid #CF84DE;
  margin-bottom: 30px; }
  .nav-tabs-navigation .nav > li > a {
    padding-bottom: 20px; }
.tab-content {
  min-height: 30rem;
}

.btn-row {
  margin-top: 5px;
  color: #A49E93;
  border-color: #A49E93; }
.btn-row:hover {
  border-color: transparent;
  background-color: #CF84DE; }



.footer {
  height: 2em;
}

.h1, h1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 72px;
  color: darkslategrey;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Merriweather', serif;  font-weight: 400;
  font-size: 18px;
}

.bumpdown {
  margin-top: 5em;
}
